@import url('/lib/css/loader.css');

html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem;
    width: 20rem;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*:after {
    box-sizing: border-box;
}

a {
    color: #2282c3;
    cursor: pointer;
}

h1 {
    margin: 0;
}

hr {
    margin: 1rem 0 0.5rem 0;
    border: 0;
    border-bottom: solid 1px #ccc;
}

h2 {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5em;
}

p {
    margin-top: 0.5em;
    line-height: 1.5em;
}

.errors,
.warnings,
.notices {
    display: block;
}

.errors {
    color: #E74C3C;
}

.warnings {
    color: #F39C12;
}

.notices {
    color: #3498DB;
}

#report:not(:empty) + #loader {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
}

.download-report {
    margin: 0 0 0 1em;
    font-weight: 500;
    border: none;
    background-color: #42513f;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 0.5em;
    line-height: 1em;
    text-decoration: none;
}

.download-report:hover {
    background-color: #2282c3;
}


